
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
</head>
<body>
<h1>Register new account</h1>
<form th:action="@{/save}" th:object="${userModel}" method="post">
    <table border="1">
        <tr>
            <td>Username</td>
            <td><input type="text" th:field="${userModel.username}" /></td>
            <td>Password</td>
            <td><input type="text" th:field="${userModel.password}" /></td>
        </tr>
        <tr>
            <td><input type="submit" value="Submit" /></td>
        </tr>
    </table>
</form>
</body>
</html>